.App {
    text-align: center;
  }
  
body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  
  a:link { text-decoration-line: none; }
  
  a:visited { text-decoration: none; }
  
  a:hover { text-decoration: none; }
  
  a:active { text-decoration: none; }
  
  .YTL {
/*     margin-top: 3.5rem; */
    color: #FF0000;
    font-size: 1.75em;
  }
  
  .SCL {
    color: #F26F23;
    font-size: 1.75em;
  }
  
  .IGL {
    color: #feda75;
    font-size: 1.75em;
  }
  
  .SL {
    color: #1DB954;
    font-size: 1.75em;
  }
  
  
  .FBL {
    color: #4267B2;
    font-size: 1.75em;
  }
  
  .TL {
    color: #6441a5;
    font-size: 1.75em;
  }
  
  #output {
    animation: rotation 40s infinite linear;
    background-color: #000;	
    height: 55vh;
    border-radius: 50%;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  #images img {
    max-height:0;
  }

  #images {
    height:0;
  }

  #source {
    visibility: hidden;
  }

  #map {
    visibility: hidden;
  }

  #welcome {
    font-size: 1.5em;
    margin: 0;
  }

  @keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.YTL, .SCL, .IGL, .SL, .FBL, .TL {
  animation: wiggle 10s ease-in-out infinite alternate;
}
