.App {
    text-align: center;
  }
  
body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  
  a:link { text-decoration-line: none; }
  
  a:visited { text-decoration: none; }
  
  a:hover { text-decoration: none; }
  
  a:active { text-decoration: none; }
  
  .YTL {
    margin-top: 3.5rem;
    color: #FF0000;
  }
  
  .SCL {
    color: #F26F23;
  }
  
  .IGL {
    color: #feda75;
  }
  
  .SL {
    color: #1DB954;
  }
  
  
  .FBL {
    color: #4267B2;
  }
  
  .TL {
    color: #6441a5;
  }
  
  #output {
    animation: rotation 20s infinite linear;
    background-color: #000;	
    height: 55vh;
    border-radius: 50%;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  #images img {
    max-height:0;
  }

  #images {
    height:0;
  }

  #source {
    visibility: hidden;
  }

  #map {
    visibility: hidden;
  }

  #welcome {
    margin-bottom: 3rem;
  }